<center>



<%= link_to root_path do %> 

<h1>Laughing</h1>
<p>Day 17 Homework</p>

<p>Click Here To Go Home</p>


<% end %>
<br /><br /><br /><br />
<div>

<p>

  PBR High Life Williamsburg next level Bushwick,
  wayfarers asymmetrical. Banksy High Life direct
  trade, Vice narwhal flannel normcore Godard aesthetic
  craft beer forage crucifix before they sold out.
  Drinking vinegar skateboard quinoa fanny pack,
  distillery banjo stumptown tattooed. Dreamcatcher
  90's crucifix, selvage seitan retro small batch kale
  chips DIY aesthetic beard Banksy. Odd Future semiotics
   VHS ethical keffiyeh, High Life farm-to-table tattooed
    lomo mlkshk forage. Etsy bicycle rights irony beard
     meh XOXO. Polaroid cardigan gentrify slow-carb
     church-key.

</p>

<br /><br />
<%= image_tag "laughing.gif" %>

</center>
