<center>

  <h1>Pumpkin Dance</h1>
  <p>Fo shizzle izzle.</p>




<%= link_to "hello" do %>

<%= image_tag "pumpkin.gif" %>

<p>
  Click Me
</p>

<% end %>

<br /> <br />

<div>
  <h1> That's the shizzle izzle </h1>
<p>
Lorizzle break it down dolor owned amizzle, consectetuer adipiscing dang.
Nullam sapizzle velizzle, break yo neck,
yall volutpizzle, suscipit quizzle, yo mamma vel, arcu.
Pellentesque ass tortor. Stuff erizzle. Nizzle izzle dolizzle dapibizzle
daahng dawg tempizzle doggy. Mauris fizzle mah nizzle
izzle turpis. Fo shizzle izzle for sure. Pellentesque
fizzle rhoncus nisi. In hac habitasse platea dictumst.
le tellus own yo', pretium yo, pot we gonna chung, eleifend
vitae, nunc. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle suscipizzle.
Integer phat velit sizzle purus.
<br />
<br />
Phasellizzle interdizzle uhuh ... yih! you son of a bizzle.
Ut fo shizzle adipiscing gangster. non est. For sure sapizzle massa,
ultricizzle nizzle, bow wow wow phat, hizzle quizzle, ass.
Pizzle nizzle cool. Etizzle rutrum ornare shut the shizzle up.
Sizzle justo. That's the shizzle izzle pede away nibh pizzle doggy.
Shut the shizzle up ipsum dolizzle sit gangsta, consectetizzle sizzle elit.
Dawg izzle check it out. Own yo' mi bow wow wow, rizzle izzle,
i'm in the shizzle a, eleifend a, elit.

</p>
</div>

</center>
